* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, p{
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(31, 30, 30);
}

input:hover {
cursor:pointer;
}

.button-container {
    text-align: center;
    border: 1px solid black;
    padding: 40px 20px;
    width: 60%;
    margin: 50px auto 0px auto;
    background-color: rgb(9, 140, 228);
    color: #fff;
    box-shadow: 4px 4px 20px rgba(190, 186, 186, 0.308)
}

.button-container h1 {
    margin-bottom:10px; 
}

button {
    padding: 10px 20px;
    background-color: orange;
    color:#fff;
    font-size: 15px;
    border-radius:5px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}

.start-btn:hover {
    background-color: rgba(255, 166, 0, 0.76);   
}

.next-btn {
    text-align: center;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color: rgb(9, 140, 228);
    border:none;
    outline: none;
    border-radius: 5px;
    color:#fff; 
}

#questions-container {
    background-color: rgb(54, 49, 49);
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    color: #fff;
    box-shadow: 4px 4px 20px rgba(190, 186, 186, 0.308)
}

#questions {
    text-align: center;
}



.category {
    margin-bottom: 10px;
    font-size: 25px;
}

.question {
    text-align: center;
    /* margin-left: 5px; */
    font-size: 20px;
}

ul.answers-list {
    margin: 0;
}

li.answer.answer-incorrect,
li.answer {
    margin: 0;
    margin-bottom: 5px;
}

li.answer:first-of-type {
    margin-top: 20px; 
}

.answers-list, .answer {
    list-style: none;
}

.answer input {
    display: inline-block;
    margin-right: 10px;
}

.answer {
    padding: 10px;
    margin: 4px;
    border: 1px solid rgba(155, 155, 155, 0.726);
    width: 100%;
    background-color: rgba(228, 228, 228, 0.26);
    border-radius: 5px; 
}


.answer-correct {
    background-color: rgb(102, 192, 94);   
}

.answer-incorrect {
    background-color: rgb(245, 16, 16);     
}



.span-correct {
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(62, 131, 56, 0);   
    padding: 5px;
    border-radius: 2px;
}

.span-incorrect {
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(143, 61, 61, 0);     
    padding: 5px;
    border-radius: 2px;
}

/* #results {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    position: absolute;
    top:0;
    left:0;
    z-index: -100;
    visibility: hidden;
} */

.results {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(255, 255, 255);
	height: 100vh;
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	transform: scale(0);
	transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.x {
	font-size: 2rem;
	color:red;
	z-index: 2;
}

.results-show {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	z-index: 1;
}

#gameresults {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
}

.final-user-result {
    margin-bottom: 20px; 
}

#play-again {
    text-align: center;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color: rgb(9, 140, 228);
    border:none;
    outline: none;
    border-radius: 5px;
    color:#fff; 
}

